.page-header
  %h1 Enter stock details
= render 'form'
= link_to 'Back', stocks_path, class: "btn"
= link_to 'Destroy', @stock, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
